@import url('global.css');

body {
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 6.5vh;
  display: flex;
  justify-content: space-around;
}

.flex-container {
  display: flex;
  flex-direction: row; /* row: valor-padrão do flex */
}

.reproducao-video {
  width: 74vw;
  height: 93.5vh;
/*   background-color: rgba(0, 0, 255, 0.438); */
}

.videos-recomendados {
  width: 26vw;
  height: 93.5vh;
  background-color: rgba(255, 196, 0, 0.397);
}

.header-left,
.header-right {
  width: 15%;
  height: 100%;
  display: inline-flex;
  align-items: center;
}

.header-right {
  justify-content: center;
}

.botao-menu-sup-esquerdo {
  padding: 4px 6px;
}

.botao-menu-sup-esquerdo:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.089);
  border-radius: 50%;
  transition: background-color 0.15s;
}

.botao-menu-sup-esquerdo:active {
  background-color: rgba(0, 0, 0, 0.24);
}

.menu-sup-esquerdo img,
.logo-ytb img {
  width: 100%;
  height: 100%;
}

.menu-sup-esquerdo {
  width: 23px;
}

.logo-ytb {
  width: 90px;
  margin-left: 26px;
}

.BR { /* complementação da logo do youtube */
  margin-left: 4px;
  position: relative;
  bottom: 13px;
  color: rgb(71, 71, 71);
  font-size: 12px;
}

.header-center {
  width: 63%;
  height: 100%;
  background-color: white;
  display: flex;
  padding: 10px 50px 10px 0px;
  justify-content: center;
}

.input-pesquisar {
  width: 530px;
  height: 40px;
}

.input-pesquisar input {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 3px inset rgba(63, 63, 63, 0.300);
  border-radius: 40px 0 0 40px; /* sup esq, sup dir, inf dir, inf esq */
  padding: 2px 15px;
  font-size: 16px;
  color: gray;
  border: 1px solid rgb(194, 194, 194);
}

.input-pesquisar input:focus {
  box-shadow: 0px 0px 6px inset rgba(63, 63, 63, 0.400);
  border: 1px solid cornflowerblue;
  outline: none;
}

.button-pesquisar { /* seleciona o irmão direto (mais próximo) da classe "input-pesquisar" */
  width: 65px;
  height: 40px;
  box-shadow: 0px 0px 3px inset rgba(63, 63, 63, 0.080);
  border: 1px solid rgb(194, 194, 194);
  border-radius: 0px 40px 40px 0px;
  border-left: none;
  background-color: rgba(167, 167, 167, 0.199);
}

.button-pesquisar img {
  width: 23px;
  position: relative;
  right: 2px;
}

.button-pesquisar a {
  display: block; /* a âncora da imagem passa a pegar no elemento inteiro (o botão passa a funcionar pela âncora do icon de pesquisar) */
}

.button-pesquisar:hover {
  background-color: rgba(59, 59, 59, 0.150);
}

.button-pesquisar:active {
  background-color: rgba(14, 13, 13, 0.164);
}

.opcoes-meu-perfil {
  display: flex;
  width: 200px;
  height: 62px; 
  padding: 10px 10px;
  position: relative;
  left: 50px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.botao-criar,
.botao-notificacao,
.botao-meu-perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 20%;
  height: 100%;
}

.botao-criar img,
.botao-notificacao img {
  position: relative;
  width: 22px;
}

.botao-criar:hover,
.botao-notificacao:hover {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.089);
  cursor: pointer;
  transition: background-color 0.10s;
}

.botao-criar:active,
.botao-notificacao:active {
  background-color: rgba(0, 0, 0, 0.24);
}

.imagem-meu-perfil {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-image: url("/assets/images/meuretrato.jpg");
  background-size: contain;
  outline: none;
}

.imagem-meu-perfil:active {
  border: 2px solid cornflowerblue;
}

.flex-container {
  display: flex;
}

.reproducao-video {
  display: flexbox;
  justify-content: center;
  padding: 20px 10px 10px 100px;
}

.main-video {
  width: 1280px;
  height: 720px;
  border-radius: 20px;
  overflow: hidden;
}

.video-description h1 {
  font-weight: 600;
  font-size: 20px;
}

.video-description {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.interacao-video {
  width: 60vw;
  height: fit-content;
  display: flex;
  gap: 42px;
  font-size: 14px;
  align-items: center;
  padding: 20px 0px;
}

.imagem-canal {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-image: url("/assets/images/Channel\ Avatar.svg");
  background-size: contain;
  outline: none;
}

.perfil-canal-video {
  display: flex;
  gap: 12px;
  align-items: center;
}

.nome-perfil-inscritos a {
  text-decoration: none;
  color: black;
}

#nome-canal {
  font-weight: bold;
}

#quantidade-inscritos {
  color: rgb(90, 90, 90);
}

.botao-inscrever-se button {
  display: inline-block;
  padding: 12px 24px;
  border: none;
  border-radius: 2px;
  background-color: rgb(197, 10, 10);
  color: white;
  font-weight: 700;
}

.botao-inscrever-se button:hover {
  cursor: pointer;
  background-color: rgba(223, 10, 10, 0.87);
  transition: background-color 0.10s;
}

.botao-inscrever-se button:active {
  background-color: rgb(197, 10, 10);
}

.like-video,
.deslike-video,
.compartilhar-video,
.download-video {
  display: flex;
  text-wrap: nowrap;
  align-items: center;
  gap: 10px;
  padding: 8px;
  font-weight: 500;
}

.botao-interacao-video {
  text-decoration: none;
  color: black;
}

.like-video:hover,
.deslike-video:hover,
.compartilhar-video:hover,
.download-video:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.089);
  border-radius: 20px;
  transition: background-color 0.10s;
}

.like-video:active,
.deslike-video:active,
.compartilhar-video:active,
.download-video:active {
  background-color: rgba(0, 0, 0, 0.24); /* active */
}

.visualizacoes-data-video span {
  margin-right: 12px;
  font-weight: 500;
  font-size: 14px;
}

.descricao-video {
  width: 900px;
  margin-top: 12px;
}